/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/confdefs.h
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile
/config.log
/config.status
/libtool
/libuaecore11*.tar.gz

*.o
*.lo
*.la
*.so
*.dll
*.a
