/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h.in
/config.h.in~
/configure
/depcomp
/install-sh
/missing
.deps/
/Makefile
/build68k.cpp
/config.h
/config.log
/config.status
/gencpu.cpp
/readcpu.cpp
/stamp-h1
/build68k
/cpudefs.cpp
/cpuemu_0.cpp
/cpuemu_11.cpp
/cpuemu_13.cpp
/cpuemu_13_stub.cpp
/cpuemu_20.cpp
/cpuemu_21.cpp
/cpuemu_22.cpp
/cpuemu_31.cpp
/cpuemu_32.cpp
/cpuemu_33.cpp
/cpustbl.cpp
/cputbl.h
/gencpu
